.timeline {
}

.timeline li {
  display: inline-block;
  width: 20px;
  height: 100px;
  border: 1px solid black;
  margin: 0 3px;
  line-height: 100px;
  text-align: center;
}

.active {
  background-color: red;
}
